body,ul,li{margin:0;padding:0;}
html,body{height:100%;}
body{font:12px/1.5 Tahoma;background: #A3C5A8;}
li{list-style-type:none;}
a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
#box{width:500px;margin:0 auto;overflow:hidden;zoom:1;}
#list,#olst{overflow:hidden;zoom:1;}
#list{margin:10px 0;}
#list li{float:left;width:6px;height:6px;cursor:pointer;overflow:hidden;margin-right:10px;text-indent:-9999px;border-width:4px;border-style:solid;}
#list li.current{background:#fff!important;}
#red{border-color:red;background:red;}
#green{border-color:green;background:green;}
#black{border-color:black;background:black;}
#olst{border:1px solid #fff; background: #008000;}
#olst li{float:left;width:82px;line-height:25px;text-align:center;border-right:1px solid #fff;}
#olst li.last{width:83px;border-right-width:0;}
#olst li a{color:#fff;}